.image{
    border-radius: 30px;
}

.about-desc{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.about-desc img{
    border-radius: 30px;
}

.about-desc table{
    margin-left: 20px;
}

.about{
    width: 60%;
    margin: 10px auto;
    background: #e9ecef;
    padding: 10px 5px;
    border-radius: 20px;
    box-shadow: grey 5px 5px 5px;
}

.highlight{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.highlight div{
    width: 70%;
    margin: 30px auto;
}

.overall-stat{
    width: 60%;
    margin: 0 auto;
}

.footer{
    margin: 20px;
}